.barra-navegacion ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    justify-content: space-around;
}

.barra-navegacion a  {
    padding-top: 20px;
    color: rgb(0,0,0);
    padding: 20px;
    text-decoration: none;
}

.barra-navegacion a:hover  {
    color: rgb(40, 1, 236);
}